$brown: #6c5144;
$lightbrown: #ddc7b2;

$darkgray: #474546;
$lightgray: #ececed;

$darkblue: #214866;
$lightblue: #3f88c8;

$darkgreen: #94c73f;
$lightgreen: #d8e7bf;

$darkpink: #a85265;
$lightpink: #f7ac9e;

$yellow: #eead20;
$lightyellow: #f7ca88;