@import "colors";
@import "fonts";

.partyListView {
	.panel-default {
		border-radius: 0px;
		border: 1px solid $lightblue;
	}
	.panel-heading {
		background-color: $lightblue;
		border-radius: 0px;
		color: white;
		font-family: $script;
		font-size: 2rem;
	}
}