@import "colors";
@import "fonts";
@import "navbar";
@import "auth";
@import "profile";
@import "fileupload";
@import "imagelist";

.graybar {
	width: 100%;
	height: 15px;
	background-color: $darkgray;
	margin-bottom: 30px;
}

.partyLemurBody {
	height: 95vh;
	overflow: scroll;
}
footer {
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: $darkgray;
	color: white;
}



canvas {
	border: 1px solid black;
}

.uploadView {
	max-height: 200px;
	max-width: 200px;
}

.uploadPreview {
	max-height: 500px;
	max-width: 500px;
}

.builderThumbnails {
	display: block;
	width: 80px;
}

.imageBuilderBtn {
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 0px;
	border: 1px solid gray;
	padding: 0px;
	background-color: white;
}