@import "colors";
@import "fonts";
@import "navbar";
@import "auth";
@import "profile";
@import "fileupload";
@import "imagelist";
@import "builder";
@import "landing";
@import "eventList";
@import "partyView";

.graybar {
	width: 100%;
	height: 15px;
	background-color: $darkgray;
	margin-bottom: 30px;
}

.partyLemurBody {
	height: 95vh;
	overflow: scroll;
}
footer {
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: $darkgray;
	color: white;
}
.breaker {
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 9px;
	margin-bottom: 10px;
	border-bottom: 1px solid $lightgray;
}