<div class="container">
	<div class="col-xs-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Layer Control</h3>
		  </div>
		  <div class="panel-body">
		    <!-- <div class="row" ng-repeat="layer in layers">
				
		    	
		    </div> -->
		    <div ng-show="!showLayerOptions">
		    	<h4>Create an Event:</h4><br>
			    Title:<br>
			    <input type="text" class="form-control" ng-model="newEvent.title">
			    Location:<br>
			    <input type="text" class="form-control" ng-model="newEvent.location">
			    Date:<br>
			    <input type="text" class="form-control" ng-model="newEvent.date">
			    <button class="btn btn-success" ng-click="saveEvent()">Save Event</button>
		    </div>
		    <div ng-show="showLayerOptions">
		    	<h4>Create Your Layer:</h4><br>
				    <div ng-repeat="image in images">
				    	<div class="col-xs-2">
				    		<button class="btn imageBuilderBtn" ng-click="setLayer(image)">
				    			<img class="builderThumbnails" src="data:{{image.filetype}};base64,{{image.base64code}}">
				    		</button>
				    	</div>
				    </div>
				    <input type="text" class="form-control" ng-model="textInput">
				    <button class="btn btn-info" ng-click="createTextLayer(textInput)">Submit Text</button>
		    </div><br>
		    <div class="col-xs-12" ng-repeat="layer in currentLayers">
		    	<h5>Layer {{layer.layernumber}}</h5>
		    	<button class="btn btn-success" ng-click="shiftLayerRight(layer.layernumber)">Right</button>
		    	<button class="btn btn-success" ng-click="shiftLayerLeft(layer.layernumber)">Left</button>
		    	<button class="btn btn-success" ng-click="shiftLayerUp(layer.layernumber)">Up</button>
		    	<button class="btn btn-success" ng-click="shiftLayerDown(layer.layernumber)">Down</button>
		    	<button class="btn btn-success" ng-click="scaleLayerUp(layer.layernumber)">Scale + </button>
		    	<button class="btn btn-success" ng-click="scaleLayerDown(layer.layernumber)">Scale - </button>
		    	<button class="btn btn-warning" ng-click="deleteLayer(layer.layernumber)">Delete</button>
		    </div>
		</div>
	</div>
	</div>
	<div class="container">
		<canvas id="inviteBuilder" width="360px" height="504px">Oops! Your Browser doesn't support me! [ You can always try chrome ;) ]</canvas>
	</div>
	<div class="container"><button class="btn btn-success" ng-click="saveMyDesign()">Save Design</button></div>
