<div class="container">
	<div class="row">
		<a ng-href="#!/image/new">
			<div class="panel panel-default col-xs-3">
			  <div class="panel-body">
			  	Upload an Image
			  </div>
			</div>
		</a>
		<a ng-href="#!/invitebuilder">
			<div class="panel panel-default col-xs-3">
			  <div class="panel-body">
			  	Create An Invite!
			  </div>
			</div>
		</a>
		<a ng-href="#!/myparties">
			<div class="panel panel-default col-xs-3">
			  <div class="panel-body">
			  	My events!
			  </div>
			</div>
		</a>
	</div>
	<div class="row">
		<a ng-href="#!/images/list">
			<div class="panel panel-default col-xs-3">
			  <div class="panel-body">
			  	View your uploads
			  </div>
			</div>
		</a>
		<a ng-href="#!/invite/list">
			<div class="panel panel-default col-xs-3">
			  <div class="panel-body">
			  	My invites!
			  </div>
			</div>
		</a>
	</div>
</div>