canvas {
  border: 1px solid black; }

.uploadView {
  max-height: 200px;
  max-width: 200px; }

.uploadPreview {
  max-height: 500px;
  max-width: 500px; }

.builderThumbnails {
  display: block;
  width: 80px; }

.imageBuilderBtn {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 0px;
  border: 1px solid gray;
  padding: 0px;
  background-color: white; }
