canvas {
  border: 1px solid black; }

.uploadView {
  max-height: 200px;
  max-width: 200px; }

.uploadPreview {
  max-height: 500px;
  max-width: 500px; }

.builderThumbnails {
  max-width: 20px;
  max-height: 20px; }
