.navbar {
  border-radius: 0px;
  border: none;
  background-color: #94c73f;
  padding: 5px;
  margin: 0px; }
  .navbar a:link, .navbar a:hover, .navbar a:active {
    color: white; }
  .navbar .logo {
    display: inline-block;
    width: 50px;
    margin-right: 20px; }

.navbar-default .navbar-brand {
  color: white;
  font-family: "Vibur", cursive;
  font-size: 2.8rem;
  margin-top: 10px; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.5rem;
  margin-top: 10px; }

.authview .form-control {
  border: 1px solid #94c73f;
  border-radius: 0px; }

.authview .btn-success {
  background-color: #3f88c8;
  border-radius: 0px;
  border: none;
  width: 47%; }

.authview .btn-primary {
  background-color: #eead20;
  border-radius: 0px;
  border: none;
  width: 47%; }

.profileview .panel {
  height: 35rem;
  width: 35rem;
  border: none;
  box-shadow: inset 0 0 20px #474546;
  border-radius: 0px; }

.profileview .panel-body {
  text-align: center;
  line-height: 32rem; }

.profileview .uploadBtn {
  background-color: #a85265; }

.profileview .createBtn {
  background-color: #214866; }

.profileview .myEventsBtn {
  background-color: #94c73f; }

.profileview .myUploadsBtn {
  background-color: #f7ac9e; }

.profileview .myInvitesBtn {
  background-color: #3f88c8; }

.profileview a, .profileview a:hover, .profileview a:link, .profileview a:active {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: none; }

.uploaderview input[type="file"] {
  display: inline-block; }

.uploaderview .link-padding {
  padding-bottom: 10px; }

.uploaderview img {
  display: block;
  margin: 0 auto; }

.uploadListView img {
  display: block;
  margin: 0 auto; }

.uploadListView .thumbnail {
  height: 300px;
  overflow: scroll;
  border-radius: 0px; }
  .uploadListView .thumbnail img {
    min-height: 190px;
    max-height: 190px; }

.builderview .panel-default {
  border-radius: 0px;
  border: 1px solid #a85265; }

.builderview .builderThumbnails {
  display: block;
  width: 80px; }

.builderview .inviteLayerOptions {
  background-color: #f9f9f9;
  padding-bottom: 10px;
  border-bottom: 2px solid white; }

.builderview .imageBuilderBtn {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 0px;
  border: 2px solid #ececed;
  padding: 0px;
  background-color: white; }

.builderview .panel-heading {
  background-color: #a85265;
  border-radius: 0px; }

.builderview .builderSwatch {
  margin-bottom: 10px; }

.builderview .panel-title {
  font-family: "Vibur", cursive;
  font-size: 2rem;
  color: white; }

.builderview .btn-info {
  border-radius: 0px;
  background-color: #3f88c8;
  border: 1px solid #3f88c8; }

.builderview .textLayerInput {
  border-radius: 0px;
  border: 1px solid #3f88c8; }

.builderview .moveBtn-up {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-radius: 0px;
  background-color: #eead20; }

.builderview .moveBtn-down {
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: #eead20; }

.builderview .moveBtn-right {
  border-radius: 0px;
  background-color: #f7ca88; }

.builderview .moveBtn-left {
  border-radius: 0px;
  background-color: #f7ca88; }

.builderview .btn:focus, .builderview .btn:active:focus, .builderview .btn.active:focus {
  outline: 0 none; }

.builderview .moveOptions {
  display: block;
  transform: scale(0.8);
  height: 80px;
  margin-top: -30px !important; }

.builderview .swatch-white {
  background-color: white;
  border: 2px solid #ececed;
  width: 30px;
  height: 30px; }

.builderview .swatch-black {
  background-color: black;
  border: 2px solid #ececed;
  width: 30px;
  height: 30px; }

.builderview .swatch-red {
  background-color: #a85265;
  border: 2px solid #ececed;
  width: 30px;
  height: 30px; }

.builderview .swatch-yellow {
  background-color: #eead20;
  border: 2px solid #ececed;
  width: 30px;
  height: 30px; }

.builderview .swatch-blue {
  background-color: #3f88c8;
  border: 2px solid #ececed;
  width: 30px;
  height: 30px; }

.graybar {
  width: 100%;
  height: 15px;
  background-color: #474546;
  margin-bottom: 30px; }

.partyLemurBody {
  height: 95vh;
  overflow: scroll; }

footer {
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: #474546;
  color: white; }

.breaker {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 9px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececed; }

canvas {
  border: 1px solid black; }
